.burger {
    position: relative;
    width: 30px; 
    height: 24px;
    color: var( --color-text-brand);
}
  
.burger::before, .burger::after {
    content:'';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: currentColor;
    border-radius: 1px;
    transition: opacity 0.2s 0.1s, transform 0.2s 0.1s;
}
  
.burger::before {
    top: 4px;
    right: 0;
}
  
.burger::after {
    bottom: 4px;
    left: 0;
}
  
.burger__middle-line {
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: var( --color-text-brand);
    border-radius: 1px;
    top: 50%;
    transform: translatey(-50%);
    transition: transform 0.2s 0.1s; 
}
  
.burger__middle-line::before {
    content:'';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var( --color-text-brand);
    border-radius: 1px;
    left:0;   
    transition: transform 0.2s 0.1s;
}
  
.burger:hover::before {
    opacity: 0;
    transform: translatex(50%);
    transition-delay: 0;
}
  
.burger:hover::after {
    opacity: 0;
    transform: translatex(-50%);
    transition-delay: 0;
}
  
.burger:hover .burger__middle-line {
    transform: translatey(-50%) rotate(-45deg);
}
  
.burger:hover .burger__middle-line::before {
    transform: rotate(-90deg);
}
  
