.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap:8px;
    margin-bottom: 24px;
}
.header__nav {
    grid-row: span 2;
    justify-self: end;
}

.header__nav-list {
    list-style-type: none;
}

.header__nav-list-item:not(:last-child) {
    margin-bottom: 4px;
}

.header__buttons {
    justify-self: center;
}

.header__buttons .favourite {
    display: none;
}

@media (max-width: 768px) {
    .header {
        display:flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 0;
        padding: 15px 15px 0 15px;
    }
    .header__logo, .header__nav {
        display: none;
    }
    .header__buttons .favourite {
        display: block;
    }
    .header__buttons .shopping-bag {
        display: none;
    }
    .header__buttons .heart {
        display: none;
    }
}