.header {
    padding: 24px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg-brand-dark);
  }

  .header__side {
    display: flex;
    align-items: baseline;
}

