.page {
    padding: 50px 100px 50px 100px;
    height: 100vh;
    box-sizing: border-box;
}
.page__container {
    margin: auto;
}
.page__content {
    display: grid;
    // grid-template-columns: repeat(12, 1fr);
    grid-template-columns: 1fr 1fr;
    
}