section {
    max-width: 766px;
    margin: 0 auto;
  }

.page {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg-brand-dark);
    font-family: var(--font);
}

.page__container {
    position: relative;
    padding: 50px 100px 50px 100px;
    box-sizing: border-box; 
    height: 100vh;
}

.page__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 76vh;
}


@media (max-width: 768px) {
    .page__container {
        padding: 0; 
        height: 70vh;
    }

    .page__content {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;  
        height: fit-content;
    }
}