
.section_flex {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.section_flex-start {
    display: flex;
    justify-content: flex-start;
}

.cataloge__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
}

@media (max-width: 768px) {
    .section_flex {
        display: block;
    }

}
