.theme {
    --font: 'FuturaPT', 'Roboto', Arial, sans-serif;

    --text-size-2xs: 12px;
    --text-size-xs: 14px;
    --text-size-s: 16px;
    --text-size-m: 18px;
    --text-size-l: 20px;
    --text-size-xl: 24px;
    --text-size-2xl: 48px;
    --text-size-3xl: 54px;

    --color-bg-brand-dark: #D1E0F5;
    --color-bg-brand-light: #EAF1FB;
    --color-bg-default: #fff;

    --color-text-brand: #315182;
    --color-text-primary: #000;
    --color-text-secondary: #5B5B5B;
    --color-text-ghost: #AFAFAF;

    --color-link-dark: rgba(49,81,130,1);
    --color-link-light: rgba(49,81,130,0.3);

    --color-control-bg: rgba(43,125,61,1);
    --color-control-bg-substrate: rgba(43,125,61,0.12);
    
    --color-border-brand: #2B7D3D;
    --color-border-secondary: #AFAFAF;
}

